h2 {
    margin-top : 50px;
}

.member {
    display : grid;
    grid-template-columns : 50% 50%;
    grid-template-rows : 100px;
    width : 80vw;
    margin-bottom: 10px;
}

.left {
    grid-column : 1;
    grid-row : 1;
    justify-self : start;
    align-self : center;
    text-align : left;
}

.right {
    grid-column : 2;
    grid-row : 1;
    justify-self : end;
    align-self : center;
    text-align : right;
}

.descritpion {
    width : 50%;
}

.profileImage {
    max-width : 150px;
    max-height : 150px;
    width : 70%;
}