body {
    margin: 0;
    padding: 0;
}

#containerArticles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 5%;
}

h2 {
    margin-bottom: 0;
}

.articleBorder {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.articleBlock {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: 150px;
}

.articleImg {
    border-radius: 10px;
}
