html {
    height : 100%;
}

body {
    height : calc(100% - 90px);
    background-color: rgba(0, 0, 0, 0.856);
    color : white;
    padding : 0;
    margin : 0;
    display : flex;
    flex-direction : column;
}

main {
    margin : 0;
    padding : 0;
    flex : 1 0 auto;
    align-self : center;
    max-width: 100vw;
}

header {
    width : 100%;
    height : 180px;
    max-width : 100vh;
    align-self : center;
}

#titleAndBurger {
    height : 80px;
    margin : 15px 0 0 0;
    display : grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 50 px;
}

.openButton {
    margin : 8px 8px 0 8px;
}

h1 {
    text-align : center;
    color : rgb(199, 0, 0);
    font-size : 50px;
    margin : 0 auto 0 auto;
    padding : 0;
    top : 0;
}

h2 {
    font-size : 3rem;
    text-align : center;
    margin : 10px 0 10px 0;
}

h3 {
    text-align : center;
    font-size : 2rem;
}

#searchSection {
    display : flex;
    justify-content : center;
    margin-top : 10px;
    height : 2rem;
}

.nav{
    list-style-type : none;
}

footer {
    box-sizing: border-box;
    width : 100%;
    height : 30px;
    flex-shrink : 0;
}

#footerFlexDiv {
    display : flex;
    justify-content : center;
}

.footerList {
    margin : 0 0 10px 0;
    padding : 0;
    list-style-type: none;
    display : flex;
    flex-direction : column;
    justify-content : space-evenly;
}

.footerLink {
    margin : 5px 0 0 0;
    padding : 0;
    text-align : center;
}

a {
    color : white;
}

@media screen and (min-width : 812px) {

    main {
        max-width : 1400px;
    }

    h1 {
        font-size : 80px;
    }

    h2 {
        font-size : 70px;
    }

}