.openButton {
  margin : 8px 8px 0 8px;
  top: 0;
  left: 0;
  cursor: pointer;
  position: absolute;
}
.closeButton {
  font-size: 3rem;
  color: black;
  text-decoration: none;
  background-color: whitesmoke;
  margin : 8px;
  padding: 3px;
  border-radius: 10px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: whitesmoke;
  border-radius: 10px;
  margin: 6px 6px;
  transition: 0.4s;
}

.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f9ff7f;
  overflow-x: hidden;
  transition: 0.5s;
}

.navLink .themeTitle {
  font-size: 2rem;
}

.link {
  font-family: 'lato';
  color: black;
  text-decoration: none;
  font-size: large;
  padding-left: 65px;
  padding-right:65px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.link:hover {
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0;
  height: 70%;
}

.themeTitle {
  color: black;
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: larger;
  font-style: italic;
  font-weight: bold;
}

#theme1 {
  background-color: rgba(102, 255, 0, 0.644);
}

#theme2 {
  background-color: rgba(0, 153, 255);
}

#theme3 {
  background-color: rgba(255, 155, 0);
}

a.green {
  background-color: rgba(102, 255, 0, 0.3);
}

.blue {
  background-color: rgba(0, 153, 255, 0.3);
}

.orange {
  background-color: rgba(255, 155, 0, 0.3);
}

@media screen and (min-width: 812px) {

  .openButton {
    display: none;
  }

  .closeButton {
    display: none;
  }

  .sideNav {
    height: 30%;
    width: 40%;
    position: static;
    background-color: #141414;
    overflow-x: auto;
    transition: 0s;
    display: flex;
    justify-content: flex-end;
  }

  .nav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: left;
    position: static;
    padding: 0;
  }

  .link {
    color: whitesmoke;
    text-decoration: none;
    font-size: large;
    background-color: #141414;
    padding: 0px;
  }

  .link:hover {
    cursor: pointer;
    border-bottom: 2px solid whitesmoke;
    border-radius: 2px;
  }
}
