.discoverPicture {
    border-radius: 10px;
    max-width: 25%;
    height: auto;
    background-color: rgba(102 , 255 , 0 , 0.12);
}  

.mainTextePresentation {
    background-color : rgba(102 , 255 , 0 , 0.12);
    border-radius: 10px;
}

#firstVideoToDisplay {
    background-color : rgba(102 , 255 , 0 , 0.12);
}