/* Elements de la page */


.mainTitleGenre{

    height: 200px;
    width: 100%
}


.mainTextePresentation{

    border : 1px solid black;
    margin : 20px;
    padding : 5px;
}

/*Few exemples*/

section h1{
    font-size: 30px;;
}

ul li{
    list-style-type: none;
}
   

.displayedVideo{
    border-radius: 10px;
}

.discoverFirstBlock{
    display: flex;
    padding : 20px;

}

.discoverSecondBlock{
    display: flex;
    padding : 20px;

}

.discoverThirdBlock{
    display: flex;
    padding : 20px;

}

.discoverPicture{
    margin: 10px;
    padding: 5px;

}


@media screen and (min-width: 812px) {



