.discoverPicture {
    border-radius: 10px;
    max-width: 25%;
    height: auto;
    background-color: rgba(255 , 155 , 0 , .40);
} 

.mainTextePresentation {
    background-color : rgba(255 , 155 , 0 , .40);
    border : none;
}

#firstVideoToDisplay {
    background-color : rgba(255, 155, 0, .40);
}


.discoverBlockDisposition {
    background-color : rgba(255 , 155 , 0 , .40);
}


