/* Elements de la page */


.mainTitleGenre{

    height: 200px;
    width: 100%
}


.mainTextePresentation{

    border : 1px solid black;
    margin : 20px;
    padding : 5px;
}

/*Few exemples*/

section h1{
    font-size: 30px;;
}

ul li{
    list-style-type: none;
}

#video {
    display : flex;
    justify-content : center;
}

#displayedVideo{
    border-radius: 10px;
}

.discoverFirstBlock{
    display: flex;
    padding : 20px;

}

.discoverSecondBlock{
    display: flex;
    padding : 20px;

}

.discoverThirdBlock{
    display: flex;
    padding : 20px;

}

.discoverPicture{
    margin: 10px;
    padding: 5px;

}

ul {
    display : flex;
    justify-content : space-around;
    margin : 0 0 20px 0;
    padding : 0;
}

.artistName {
    margin : 0;
}

.songTitle {
    margin : 0;
}

#firstVideoToDisplay {
    font-weight : bold;
}