main {
    margin-top: 2rem;
}

form {
    display : flex;
    flex-direction : column;
    width : 80vw;
    max-width : 600px;
    align-items : center;
}

.contactInput {
    width : 100%;
    height : 1.5rem;
    margin-bottom : 10px;
    font-size : 1.3rem;
    font-family: 'lato';
    padding: 5px;
}

#contactMessage {
    width : 100%;
    height : 150px;
    margin-bottom : 10px;
    font-size : 1.3rem;
}

#sendButton {
    align-self : flex-end;
    width : 100px;
    height : 1.5rem;
    margin : 0;
    padding : 0;
}

label{
    font-family: 'lato';
}

@media screen and (min-width: 813px) {

    #sendButton:hover {
        cursor: pointer;
    }

    form {
        margin-left: auto;
        margin-right: auto;
    }
}
