.openButton {
  margin : 8px 8px 0 8px;
  top: 0;
  left: 0;
  cursor: pointer;
  position: absolute;
}
.closeButton {
  font-size: 3rem;
  color: black;
  text-decoration: none;
  background-color: whitesmoke;
  margin : 8px;
  padding: 3px;
  border-radius: 10px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: whitesmoke;
  border-radius: 10px;
  margin: 6px 6px;
}

.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(14,14,14);
  overflow-x: hidden;
  transition: 0.5s;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 20%;
}

.navLink .themeTitle {
  font-size: 2rem;
  color: whitesmoke;
}

.link {
  font-family: 'lato';
  text-decoration: none;
  font-size: large;
  padding-left: 65px;
  padding-right:65px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.link:hover {
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0;
  height: 70%;
}

.themeTitle {
  width: 100%;
  height: 40px;
  text-align: center;
  font-size: larger;
  font-style: italic;
  font-weight: bold;
}

#theme1 {
  background-color: rgba(102, 255, 0, 0.644);
}

#theme2 {
  background-color: rgba(0, 153, 255);
}

#theme3 {
  background-color: rgba(255, 155, 0);
}

a.green {
  background-color: rgba(102, 255, 0, 0.3);
}

a.blue {
  background-color: rgba(0, 153, 255, 0.3);
}

a.orange {
  background-color: rgba(255, 155, 0, 0.3);
}

@media screen and (min-width: 813px) {

  .openButton {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    top: 0;
    left: 0;
    position: relative;
  }
  .closeButton {
    font-size: 3rem;
    color: black;
    text-decoration: none;
    background-color: whitesmoke;
    margin : 8px;
    padding: 3px;
    border-radius: 10px;
  }

  .link {
    padding-left: 150px;
    padding-right:150px;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: all 0.1s ease-in-out;
  }

  .link:hover {
    cursor: pointer;
    border-bottom: 2px solid whitesmoke;
    border-radius: 2px;
    transition: all 0.1s ease-in-out;
  }
}
