/* Elements de la page */


.mainTitleGenre{
    height: auto;
    width: 100%;
    border-radius: 10px;;
}


.mainTextePresentation{

    padding : 10px;
}

/*Few exemples*/


.containExamples{
    margin-top:40px;
}


ul li{
    list-style-type: none;
}

#video {
    display : flex;
    justify-content : center;

}

#displayedVideo{
    border-radius: 10px;

}

/*DiscoverMore*/


.discoverFirstBlock{
    display: flex;
    padding : 20px;
}

.discoverSecondBlock{
    display: flex;
    padding : 20px;
}

.discoverThirdBlock{
    display: flex;
    padding : 20px;
}

.discoverPicture{
    align-self : center;
    border-radius: 50%;
    min-width : 90px;
    max-width: 25%;
    margin: 10px;
    padding: 5px;
    width : 90px;
    height : 90px;
    object-fit : scale-down;
}

ul {
    display : flex;
    justify-content : space-evenly;
    margin : 0 0 20px 0;
    padding : 0;
    height : auto;
}

.genreList {
    width : 30%;
    align-self : center;
    height : 100%;
    display : flex;
    justify-content : center;
    margin-bottom : 25px;
}

.chooseVideo {
    border : solid 2px white;
    border-radius: 5px;
    height : 100%;
    color : white;
    background-color : inherit;
}

.hide {
    display : none;
}

#clickInfo {
    text-decoration: underline;
    cursor: pointer;
}

.blockSeparator{
	width: 40%;
    height:4px;
}

.hideVideo{
    display: none;
    border-radius: 10px;
}


/*Media Queries*/

@media screen and (min-width: 813px) {

    .mainTitleGenre{
        height: auto;
        width: 100%;
    }

    .video{
        overflow: hidden; 
    }


    #displayedVideo { 
        width: 100%;
        max-width : 700px;
        height: 400px; 
    }

    .mainTextePresentation{
        font-size: 20px;
    }

    .hide {
        display : block;
    }

    #clickInfo{
        display: none;
    }


    .discoverFirstBlock{
        display: flex;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .discoverSecondBlock{
        display: flex;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    .discoverThirdBlock{
        display: flex;
        margin-bottom: 30px;
        margin-top: 30px;
    }


    .discoverBlockDisposition{
        flex: 1;
        order: 2;
        font-size: 20px;
        margin: 10px; 
        padding: 20px;
    }

    .discoverPicture{
        align-self : center;
        flex: 1;
        order: 1;
        padding: 10px;
        width : 100%;
        height : 100%;
        border-radius : 50%;
        object-fit : scale-down;

    }
    
    .hideVideo{
        flex: 2;
        order: 3;
        display :inline;
        width : 400px;
        height : 400px;
    }


    .hideGoFurther{
        display: none;
    }

    .subGenreTitle{
        font-size: 40px;
        font-family: 'Staatliches';
    }


    .chooseVideo{
        font-size: 20px;
        transition: all 0.2s ease-in-out;
    }

    .chooseVideo:hover {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }
       
    .fewExample{
        margin-bottom: 15px;
    }
}
