.mainTextePresentation {
  background-color: rgba(0,153,255,0.12);
  border-radius: 10px;
}

#firstVideoToDisplay {
    background-color : rgba(0,153,255,0.12);
}

@media screen and (min-width: 813px) {

  .chooseVideo:hover {
    background-color : rgba(0,153,255,0.05);
  }
}